* {
	box-sizing:border-box;
}
body {
	margin:0;
}
.gjs-grid-column.feature-item {
	padding-top:15px;
	padding-right:15px;
	padding-bottom:15px;
	padding-left:15px;
	display:flex;
	flex-direction:column;
	gap:15px;
	min-width:30%;
}
.gjs-grid-column.testimonial-item {
	padding-top:15px;
	padding-right:15px;
	padding-bottom:15px;
	padding-left:15px;
	display:flex;
	flex-direction:column;
	gap:15px;
	min-width:45%;
	background-color:rgba(247,247,247,0.23);
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	align-items:flex-start;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-top-color:rgba(0,0,0,0.06);
	border-right-color:rgba(0,0,0,0.06);
	border-bottom-color:rgba(0,0,0,0.06);
	border-left-color:rgba(0,0,0,0.06);
}
#i11209 {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	padding-top:0.016px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
	background-image:linear-gradient(90deg,rgba(19,46,178,1) 28%,rgba(29,115,196,1) 66%);
	background-position:0px 0px;
	background-size:100% 100%;
	background-repeat:repeat;
	background-attachment:scroll;
	background-origin:padding-box;
}
.gjs-container {
	width:90%;
	margin:0 auto;
	max-width:1200px;
}
.gjs-section {
	display:flex;
	padding:50px 0;
}
#itv2 {
	height:1000px;
	width:800px;
	padding-top:25px;
	padding-right:5px;
	padding-bottom:0px;
	padding-left:5px;
	background-color:rgba(255,255,255,1);
	background-clip:border-box;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-right-radius:52px;
	border-bottom-left-radius:52px;
	border-top-width:11px;
	border-right-width:11px;
	border-bottom-width:11px;
	border-left-width:11px;
	border-top-style:outset;
	border-right-style:outset;
	border-bottom-style:outset;
	border-left-style:outset;
	align-self:center;
	flex:0 1 auto;
	position:relative;
	display:flex;
	justify-content:flex-start;
	align-items:center;
	flex-direction:column;
	font-family:Tahoma,Geneva,sans-serif;
	color:rgba(49,10,141,0.85);
	font-weight:900;
	font-size:30px;
}
.gjs-heading {
	margin:0;
}
.gjs-grid-column {
	flex:1 1 0%;
	padding:5px 0;
}
.gjs-grid-row {
	display:flex;
	justify-content:flex-start;
	align-items:stretch;
	flex-direction:row;
	min-height:auto;
	padding:10px 0;
}
#ibw2 {
	width:594px;
	min-height:130auto;
}
#iihp {
	height:99px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	display:block;
	flex-direction:row;
	gap:23px;
	padding-top:25px;
	padding-left:0px;
}
#i25f {
	border-top-color:rgba(0,0,0,0.05);
	border-right-color:rgba(0,0,0,0.05);
	border-bottom-color:rgba(0,0,0,0.05);
	border-left-color:rgba(0,0,0,0.05);
	font-family:Times New Roman,Times,serif;
	font-weight:600;
}
#ijhr {
	height:100%;
	padding-bottom:0px;
	padding-top:4px;
	width:30%;
	position:relative;
	font-family:Courier New,Courier,monospace;
	font-size:30px;
	background-color:rgba(71,110,255,1);
	border-top-right-radius:30px;
	border-bottom-right-radius:30px;
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
	border-top-color:rgba(255,255,255,0);
	border-right-color:rgba(255,255,255,0);
	border-bottom-color:rgba(255,255,255,0);
	border-left-color:rgba(255,255,255,0);
	font-weight:600;
}
#ijhr:hover {
	background-color:rgba(33,23,172,1);
}
#i25f:hover {
	font-family:Arial,Helvetica,sans-serif;
}
#i5bpg {
	width:700px;
	justify-content:space-between;
	align-items:center;
	flex-direction:column;
}
#i4xgw {
	display:flex;
	width: 550px;
	justify-content:space-between;
	align-items:center;
	flex:0 0 auto;
	flex-direction:row;
	align-self:auto;
	padding-top:5px;
	padding-left:0px;
}
#i9pii {
	padding-left:35px;
	background-color:rgba(168,168,168,1);
	font-size:30px;
	height:100%;
	border-top-left-radius:30px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	border-bottom-left-radius:30px;
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
	border-top-color:rgba(0,0,0,0);
	border-right-color:rgba(0,0,0,0);
	border-bottom-color:rgba(0,0,0,0);
	border-left-color:rgba(0,0,0,0);
}
#i41az {
	padding:10px;
	padding-left:3%;
	color:rgba(0,0,0,1);
	align-self:auto;
	text-align:center;
	font-weight:600;
	text-decoration:none;
	direction:ltr;
	white-space:nowrap;
}
#isqhz {
	color:black;
	width:54px;
	height:54px;
}
#izrdk {
	padding-top:14px;
	padding-right:14px;
	padding-bottom:14px;
	padding-left:14px;
	margin-left:45px;
	border-top-left-radius:50%;
	border-top-right-radius:50%;
	border-bottom-right-radius:50%;
	border-bottom-left-radius:50%;
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
	font-size:16px;
	font-weight:600;
}
#izrdk:hover {
	background-color:rgba(21,21,21,0.39);
}
#iuhhg {
	color:black;
	width:54px;
	height:54px;
}
#ihfhh {
	padding:10px;
	padding-left:3%;
	color:rgba(0,0,0,1);
	white-space:nowrap;
}
#i81lc {
	padding-top:14px;
	padding-right:14px;
	padding-bottom:14px;
	padding-left:14px;
	margin-left:45px;
	border-top-left-radius:50%;
	border-top-right-radius:50%;
	border-bottom-right-radius:50%;
	border-bottom-left-radius:50%;
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
	font-size:16px;
	font-weight:600;
}
#i81lc:hover {
	background-color:rgba(21,21,21,0.39);
}
#i8l8y {
	display:flex;
	justify-content:space-between;
	align-items:center;
	align-self:center;
	flex:1 1 0%;
	width:600px;
	flex-direction:row;
}
#ijz9x {
	color:black;
	width:54px;
	height:54px;
}
#ienhc {
	padding:10px;
	padding-left:3%;
	color:rgba(0,0,0,1);
	white-space:nowrap;
}
#i09l2 {
	padding-top:14px;
	padding-right:14px;
	padding-bottom:14px;
	padding-left:14px;
	margin-left:45px;
	border-top-left-radius:50%;
	border-top-right-radius:50%;
	border-bottom-right-radius:50%;
	border-bottom-left-radius:50%;
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
	font-size:16px;
	font-weight:600;
}
#i09l2:hover {
	background-color:rgba(21,21,21,0.39);
}
#if93x {
	display:flex;
	justify-content:space-between;
	align-items:center;
	align-self:center;
	flex:1 1 0%;
	width:600px;
	flex-direction:row;
}
#ikb2r {
	color:black;
	width:54px;
	height:54px;
}
#ircf4 {
	padding:10px;
	padding-left:3%;
	color:rgba(0,0,0,1);
	white-space:nowrap;
}
#ixh8q {
	padding-top:14px;
	padding-right:14px;
	padding-bottom:14px;
	padding-left:14px;
	margin-left:45px;
	border-top-left-radius:50%;
	border-top-right-radius:50%;
	border-bottom-right-radius:50%;
	border-bottom-left-radius:50%;
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
	font-size:16px;
	font-weight:600;
}
#ixh8q:hover {
	background-color:rgba(21,21,21,0.39);
}
#ik8um {
	display:flex;
	justify-content:space-between;
	align-items:center;
	align-self:center;
	flex:1 1 0%;
	width:600px;
	flex-direction:row;
}
#iqgbb {
	color:black;
	width:54px;
	height:54px;
}
#im7lf {
	padding:10px;
	padding-left:3%;
	color:rgba(0,0,0,1);
	white-space:nowrap;
}
#i1ni8 {
	padding-top:14px;
	padding-right:14px;
	padding-bottom:14px;
	padding-left:14px;
	margin-left:45px;
	border-top-left-radius:50%;
	border-top-right-radius:50%;
	border-bottom-right-radius:50%;
	border-bottom-left-radius:50%;
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
	font-size:16px;
	font-weight:600;
}
#i1ni8:hover {
	background-color:rgba(21,21,21,0.39);
}
#il0h9 {
	display:flex;
	justify-content:space-between;
	align-items:center;
	align-self:center;
	flex:1 1 0%;
	width:600px;
	flex-direction:row;
}
#i7bfl {
	color:black;
	width:54px;
	height:54px;
}
#i5o0i {
	padding:10px;
	padding-left:3%;
	color:rgba(0,0,0,1);
	white-space:nowrap;
}
#icxgp {
	padding-top:14px;
	padding-right:14px;
	padding-bottom:14px;
	padding-left:14px;
	margin-left:45px;
	border-top-left-radius:50%;
	border-top-right-radius:50%;
	border-bottom-right-radius:50%;
	border-bottom-left-radius:50%;
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
	font-size:16px;
	font-weight:600;
}
#icxgp:hover {
	background-color:rgba(21,21,21,0.39);
}
#ig1tl {
	display:flex;
	justify-content:space-between;
	align-items:center;
	align-self:center;
	flex:1 1 0%;
	width:600px;
	flex-direction:row;
	gap:0px;
}
#iu9b4 {
	color:black;
	width:54px;
	height:54px;
}
#ipwqv {
	padding:10px;
	padding-left:3%;
	color:rgba(0,0,0,1);
	white-space:nowrap;
}
#iyzdf {
	padding-top:14px;
	padding-right:14px;
	padding-bottom:14px;
	padding-left:14px;
	margin-left:45px;
	border-top-left-radius:50%;
	border-top-right-radius:50%;
	border-bottom-right-radius:50%;
	border-bottom-left-radius:50%;
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
	font-size:16px;
	font-weight:600;
}
#iyzdf:hover {
	background-color:rgba(21,21,21,0.39);
}
#itc9o {
	display:flex;
	justify-content:space-between;
	align-items:center;
	align-self:center;
	flex:1 1 0%;
	width:600px;
	flex-direction:row;
}